
.tweetBox {
  padding: 20px;
  border-bottom: 1px solid var(--twitter-background) !important;
}

.tweetBox__input {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.mediaIcons_tweetButton {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin-top: 10px;
}

.imageIcon, .micIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--twitter-background) !important;
  color: var(--twitter-color) !important;
}

.imageIcon:hover, .micIcon:hover {
  background-color: var(--twitter-background) !important;
}

.imageInput {
  display: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  color: white !important;
  font-weight: 900;
  border-radius: 999px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
}

.tweetBox__tweetButton:hover {
  background-color: var(--twitter-color) !important;
}
